[user]
	name = Chuang Zhu
	email = genelocated@yandex.com
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	a = add
	aa = add --all
	cn = clean -fd
	lg = log --color --graph --pretty=format:'%C(auto)%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
        # older versions of git (debian stretch) do not support alias in alias
	lga = !git lg --all
	cl = !"exclone () { case $1 in *://* | *@*) git clone $1 ;; */*) git clone https://github.com/$1.git ;; *) git clone git@github.com:genelocated/$1 ;; esac; }; exclone"
	url = remote set-url origin
	vi = !vim .git/config
	hide = update-index --assume-unchanged
	unhide = update-index --no-assume-unchanged
	hided = !git ls-files -v | grep "^h"
	ignore = !"getignore () { curl -L https://github.com/github/gitignore/blob/master/$1.gitignore?raw=true >> .gitignore; }; getignore"
	new-root = !"newroot () { local tmp=tmp-$RANDOM; mkdir ../$tmp; cd ../$tmp; git init; git checkout -b $1; echo \"initial commit\" > README; git add --all; git commit -m 'initial commit'; cd -; git remote add $tmp ../$tmp; git fetch $tmp; git checkout $1; git remote rm $tmp; rm -rf ../$tmp; }; newroot"
[core]
	editor = vim
	# pager = delta --dark
[pull]
	rebase = false
[diff]
	tool = "vimdiff"
[difftool "vimdiff"]
	cmd = "vimdiff $LOCAL $REMOTE"
[difftool "imagemagick"]
	cmd = "compare -compose src $LOCAL $REMOTE - | display"
[diff "imagemagick"]
	command = "imgcompare () { compare -compose src $1 $2 - | display; }; imgcompare"

[credential]
	helper = store
[pack]
	windowMemory = 128m
	packSizeLimit = 512m
